<section fxFill fxLayout="column wrap" fxLayoutAlign="center start">
  <div fxLayout="row wrap" fxLayoutAlign="start center" class="header-content">
    <div class="name-holder">Tasboard</div>
    <div class="profile">
      <app-profile></app-profile>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center"  class="taskboard-options">
    <div class="toggle-group">
      <mat-button-toggle-group>
        <mat-button-toggle></mat-button-toggle>
        <mat-button-toggle></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="add-task-button">
      <app-add-task></app-add-task>
    </div>
  </div>
</section>
